/* Colores */
:root {
    --color-1: #ccc;
--color-2: white;
--color-3: #800080;
--color-4: rgb(39, 100, 186);
--color-5: #bba0a5;
}


/* Estilos base /
/ Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }

body {
background-color: var(--color-2);
color: var(--color-2);
font-size: 18px;
}

/* Header */
.header-content {
display: flex;
justify-content: space-between;
position: fixed;
width: 100%;
align-items: center;
padding: 20px;
background-color:rgba(221, 221, 227, 0.9);



}

.header-content h1 {
font-size: 28px;
font-weight: bold;
margin-left: 40px;
color: var(--color-3);
letter-spacing: 2px;
font-family: 'Roboto', sans-serif;
}

.nav-links {
display: flex;
list-style: none;
margin-right: 40px;
}

.nav-links li {
margin: 0 15px;
}

.nav-links a {
text-decoration: none;
font-size: 16px;
font-weight: bold;
color: var(--color-4);
transition: all 0.3s ease;
}

.nav-links a:hover {
color: var(--color-2);
}

.nav-links a.selected {
color: var(--color-4);
}

.nav-icon {
display: none;
font-size: 18px;
color: var(--color-1);
cursor: pointer;
}

.social-media {
display: flex;
justify-content: center;
align-items: center;
margin-right: 30px;
gap: 20px;text-decoration: none;



}

.social-media i {
font-size: 18px;
color: var(--color-2);
transition: all 0.3s ease;
}

.social-media i:hover {
color: var(--color-4);
}

/* Presentación */
.presentation {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-image:url(../photo-1527412247916-fcb426a73996.webp);
background-size: cover;
background-position: center;
color: var(--color-2);
text-align: center;
}


.presentation h2 {
font-size: 64px;
font-weight: bold;
margin-bottom: 20px;
letter-spacing: 2px;
font-family: 'Roboto', sans-serif;
}

.presentation h2 span {
  color:black;
}

.description {
  font-size: 30px;
  margin-bottom: 80px;
}

.presentation a {
  display: flex;
  padding: 10px 20px;
  background-color: var(--color-4);
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.presentation a:hover {
  background-color: var(--color-5);
}


  /* Sección About meí */
  
    
    .photo-container img {
    object-fit: contain;
    max-width: 200px;
    margin: 30px;
 padding: 2px;
border-radius: 100px;
background-color: var(--color-2);
    }


#about-me {
display: flex;
justify-content:center;
align-items:center ;
max-width: 100vw;
height: 70vh;
color:black;
background-color: var(--color-1);

}

#about-me .about-me-content h3
{margin: 20px;}


#about-me .about-me-content p {
font-size: 14px;
line-height: 25px;
margin: 20px;

}

#about-me .about-me-content a {
    font-size: 14px;
    color: var(--color-2);
background-color: var(--color-3);
text-decoration: none;

border-radius: 30px;
margin: 20px;
padding: 10px;
transition: .5s;
}

#about-me .about-me-content a:hover {
background-color:var(--color-4);

}

  /* Sección portfolio */
  
    .section-title {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #416a93;
    font-weight: bold;
    }
    
    .link:hover {
    text-decoration: underline;
    }

.portfolio {
max-width: 1100px;
padding: 100px 0;
margin: auto;
}

.portfolio .section-title {
text-align: center;
font-size: 22px;
text-transform: uppercase;
color: #0a0a47;
text-decoration: none;
}

.portfolio .row {
display: flex;
justify-content: space-between;
margin: 30px 0;
}

.portfolio .project {
max-width: 450px;
border: none;
margin: 0 10px;
position: relative;
overflow: hidden;
}

.portfolio .project img {
width: 100%;
height: 100%;
filter: grayscale(1);
object-fit: cover;
transition: .5s;
}

.portfolio .project:hover img {
filter: grayscale(0);
}

.portfolio .project .info {
position: absolute;
left: 0px;
background-color: rgba(25, 25, 112, 0.8);
color: #943c68;
width: 100%;
padding: 10px;
opacity: 0;
bottom: -40px;
transition: .5s;
}

.portfolio .project:hover .info {
opacity: 1;
bottom: 0;
}

/* seccion C O N T A C T O */
/**************************/

/* Estilos para la sección de Contacto */
.contact {
    background-image:url("../USA-Washington-National-Park-forest-mountains-lake-moonlight-night_1920x1200.jpg");
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact .container {
    width: 60%;
  }
  
  .contact .section-title {
    text-align: center;
    font-size: 2rem;
    margin: 40px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left ;
   
  }
  
 
  
  .contact .half {
    flex-basis: 50%;
    padding-right: 10px;
  }
  

  
  .contact input,
  .contact input,
  .contact textarea {
  width: 500px;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 1px solid black;
  }
  
 
  .contact textarea {
    height: 120px;
  }
  
  .contact .send-btn {
    background-color: rgb(36, 36, 108);
    width: 150px;
    color: white;
    border-radius: 10px;
    padding: 10px ;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid black;
  }
  
  .contact .send-btn:hover {
    background-color: #1976D2;
  }
  
  .contact .social-icons i {
    font-size: 18px;
    color: var(--color-2);
    transition: all 0.3s ease;
    }
    
    .contact .social-icons i:hover {
    color: var(--color-4);
    }
  
  
  

/* F O O T E R */
/**************/


footer 
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    background-color: rgb(46, 45, 45);
    color: white;
    height: 60px;
  }
  
  footer p {
    margin: 0;
    font-size: 12px;
  }
  
  
  
  