
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --color-1: #f2f2f2;
  --color-2: #4d4d4d;
  --color-3: #6d6d6d;
  --color-4: #bfbfbf;
  --color-5: #e6e6e6;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 1.5;
}

.header-content {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.header-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;
  color: #4d4d4d;
  letter-spacing: 1px;
  font-family: 'roboto', serif;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 40px;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #6d6d6d;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #161515;
  font-size: 16px;
}

.nav-icon {
  
  font-size: 16px;
  color: #f2f2f2;
  cursor: pointer;
}


.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  gap: 20px;
}

header .social-media i {
  font-size: 22px;
  color: #4d4d4d;
  transition: all 0.3s ease;
}

header .social-media i:hover {
  color: #bc4da8;
  font-size: 25px; 
   transform: rotate(360deg);
}


.nav-icon i {
font-size: 22px;
color: #4d4d4d;
cursor: pointer;
}

.nav-icon i:hover {
color: #bc4da8;
}










/* Presentación */
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  color: #4d4d4d;
  text-align: center;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



  .presentation h2 {
    font: bold 40px/1.2 'roboto', serif;
    margin-bottom: 20px;
    text-align: left;
    letter-spacing: 1px;
    color: #454b76;
  }
  
  .description {
    font-size: 20px;
    margin-bottom: 30px;
    color: #333;
  }
  
  #title {
    font: bold 25px/1.2 'roboto', serif;
    text-align: center;
    color: #2f2e6b;
  }
  
  .presentation a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--color-4);
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .presentation a:hover {
    background-color: #644b5f;
  }
  
  @media (max-width: 768px) {
    .presentation h2 {
      font-size: 32px;
      width: 50vw;
      margin-top: 0px;
      text-align: center;
    }
  
    #title {
     
      font-size: 20px;
    }
  
    .description {
      font-size: 18px;
    }
  
    .presentation a {
      font-size: 14px;
    }
  }
  



/* Sección About me */

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/images2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 100vw;
  margin: 0 auto;
  max-width: 1300px;
}

.photo-container img {
  object-fit: contain;
  max-width: 220px;
  padding: 2px;
  border-radius: 150px;
  background-color: var(--color-2);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}

#about-me .about-me-content {
  margin: 30px;
  max-width: 600px;
}

#about-me .about-me-content h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #8c8a8a;
  font-family: 'roboto', serif; 
}

#about-me .about-me-content p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #d7d3d3;
}

#about-me .about-me-content a {
  font-size: 18px;
  color: #fff;
  background-color: #5d455d;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 20px;
  transition: .5s;
  font-weight: bold;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
}

#about-me .about-me-content a:hover {
  background-color: #4f4584;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  #about-me {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }
  .photo-container img {
    width: 100px;
    margin: 0 auto;
  }
  #about-me .about-me-content {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 480px) {

  #about-me {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    background-attachment: scroll;
height: auto;
    background-repeat: no-repeat;
  }

  #about-me .about-me-content h3 {
    font-size: 16px;
  }
  #about-me .about-me-content p {
    font-size: 14px;
    line-height: 24px;
  }
  #about-me .about-me-content a {
    font-size: 14px;
    padding: 8px 16px;
  }
  
}

   /* Sección portfolio */
   
  .portfolio .project {
  
    border: 1px solid #000;
    height: 200px;
    margin: 20px;
    position: relative;
    overflow: hidden;
  }

.section-title {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #557ea7;
  font-weight: bold;
  font-family: 'roboto', serif;
}



.portfolio-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}



.portfolio-item img {
  width: 180px;
 
  object-fit: cover;
  transition: all 0.3s ease;
}



@media only screen and (min-width: 480px) {
  .portfolio {
    height: auto;
    padding: 50px;
    margin: auto;
  }

  .portfolio .section-title {
    text-align: center;
    padding-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
    color: #2424d5;
    text-decoration: none;
  }

  .portfolio .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  align-items: center;
    justify-content: space-evenly;
    
  }

  .portfolio .project {
  
    border: 1px solid #000;
   width: 370px;
   height: 245px;
    margin: 20px;
    position: relative;
    overflow: hidden;
  }

  .portfolio .project img {

    width: 380px;
    z-index: 2;
    filter: grayscale(0);
    object-fit: contain;
    transition: .5s;
  }

  .portfolio .project:hover img {
    filter: grayscale(1);
  }


  .portfolio .project .info h4{
    font-size: 1.4rem;
  }


  .portfolio .project .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0px;
    background-color: black;
    color: #ff5080;
    width: 100%;
    height: auto;
    padding: 20px;
    opacity: 0;
   
    transition: .5s;
    display: block;
  }

  .portfolio .project a {
    text-decoration: none;
    margin: 50PX;
    color: #7878ef;
    text-shadow: #2424d5 2px;
   
 
  }

  .portfolio .project:hover .info {
    opacity: 1;
    bottom: 0;
    overflow: visible;
  }
  
}






















/* seccion C O N T A C T O */
/**************************/

.contact {
    background-image:url("images/mano-astronauta-robot-fondo-pantalla-ciencia-ficcion-elementos-imagen-proporcionada-nasa_112293-712.avif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
padding: 20px;
  }
  
  .contact .container {
    width: 60%;
  }
  
  .contact .section-title {
    text-align: center;
    font-size: 1.8rem;
    margin: 30px;
    color: white;
    text-transform: uppercase;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
   
  }
  
  .contact input,
  .contact input,
  .contact textarea {
  width: 300px;
    border-radius: 5px;
    padding:5px;
    font-size: 1rem;
    margin-bottom: 10px;
   
  }
  

  .contact textarea {
    height: 120px;
  }
  
  .contact .send-btn {
    background-color:rgb(19, 19, 100);
    width: 150px;
    color: white;
    border-radius:5px;
    padding: 10px ;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid black;
  }
  
  .contact .send-btn:hover {
    background-color: var(--color-4);
  }
  
  
  
  

/* F O O T E R */
/**************/


footer 
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    background-color: rgb(46, 45, 45);
    color: white;
    height: 60px;
  }
  
  footer p {
    margin: 0;
    font-size: 12px;
  }
  
  
  footer .container .social-icons i {
    font-size: 18px;
    color: var(--color-2);
    transition: all 0.3s ease;
    margin: 10px;
    }
    

/* Dispositivos móviles con una anchura de pantalla de hasta 480px */
@media (max-width: 480px) {
  footer .container {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  
  footer .container .social-icons i {
    font-size: 24px;
    margin: 5px;
  }
}






    
 
  /* Nighttime Node */.night-mode {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #161515;
  color: #f2f2f2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
}

.night-mode i {
  font-size: 24px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

body.dark-mode {
  background-color: #161515;
  color: #f2f2f2;
}

body.dark-mode .header-content {
  background-color: #1e1e1e;
  color: #f2f2f2;
}

body.dark-mode .nav-links a {
  color: #f2f2f2;
}

body.dark-mode .nav-icon {
  color: #f2f2f2;
}

body.dark-mode .social-media i {
  color: #f2f2f2;
}

body.dark-mode .presentation {
  color: #f2f2f2;
}

body.dark-mode .presentation a {
  background-color: #bc4da8;
}



















